@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    background: url("https://assets.codepen.io/6060109/ZigZag.png") no-repeat;
    background-size: cover;
    display: flex;
}

h2:nth-of-type(1) {
    color: #2F463D;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;

}

p {
    color: #828282;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.panel {
    width: 90%;
    min-width: 300px;
    height: 700px;
    background-color: #fff;
    margin: 70px auto;
    box-shadow: 0px 40px 40px -20px #3C7861;
    border-radius: 5px;
    position: relative;
}

#close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.inner-container {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;
}
